<th class="px-6 py-4 font-medium text-gray-900"><%= property.id %></th>
<td class="px-6 py-4"><%= property.mnemonic %></td>
<td class="px-6 py-4"><%= property.description %></td>
<td class="px-6 py-4"><%= property.data_type %></td>
<td class="px-6 py-4"><%= property.loinc_code %></td>
<td class="px-6 py-4"><%= property.units_of_measure %></td>
<td class="px-6 py-4"><%= property.low_limit %></td>
<td class="px-6 py-4"><%= property.high_limit %></td>