<%= form_with(model: patient, class: "contents") do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul class="list-disc ml-6">
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:first_name].none?, "border-red-400 focus:outline-red-600": patient.errors[:first_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :surname %>
    <%= form.text_field :surname, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:surname].none?, "border-red-400 focus:outline-red-600": patient.errors[:surname].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :birth_date %>
    <%= form.date_field :birth_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:birth_date].none?, "border-red-400 focus:outline-red-600": patient.errors[:birth_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :gender %>
    <%= form.select :gender, Patient.genders.keys.map { |g| [g.humanize, g] }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:gender].none?, "border-red-400 focus:outline-red-600": patient.errors[:gender].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:email].none?, "border-red-400 focus:outline-red-600": patient.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:phone].none?, "border-red-400 focus:outline-red-600": patient.errors[:phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :mobile_phone %>
    <%= form.text_field :mobile_phone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:mobile_phone].none?, "border-red-400 focus:outline-red-600": patient.errors[:mobile_phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :internet %>
    <%= form.text_field :internet, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:internet].none?, "border-red-400 focus:outline-red-600": patient.errors[:internet].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :address_line1 %>
    <%= form.text_field :address_line1, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:address_line1].none?, "border-red-400 focus:outline-red-600": patient.errors[:address_line1].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :address_line2 %>
    <%= form.text_field :address_line2, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:address_line2].none?, "border-red-400 focus:outline-red-600": patient.errors[:address_line2].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :municipality_id %>
    <%= form.collection_select :municipality_id, Municipality.all, :id, :externalize, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:municipality_id].none?, "border-red-400 focus:outline-red-600": patient.errors[:municipality_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :national_number %>
    <%= form.text_field :national_number, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:national_number].none?, "border-red-400 focus:outline-red-600": patient.errors[:national_number].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
