<th class="px-6 py-4 font-medium text-gray-900"><%= patient.id %></th>
<td class="px-6 py-4"><%= patient.surname %></td>
<td class="px-6 py-4"><%= patient.first_name %></td>
<td class="px-6 py-4"><%= patient.birth_date %></td>
<td class="px-6 py-4"><%= patient.gender %></td>
<td class="px-6 py-4"><%= patient.national_number %></td>