<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-center">
    <nav aria-label="Pagination">
      <ul class="inline-flex items-center space-x-1 rounded-md text-sm">
        <li>
          <%= link_to_previous_page @patients, 'Previous Page', class: "inline-flex items-center space-x-2 rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-500 hover:bg-gray-50" do %>
            <% if path_to_prev_page @patients %>
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
              </svg>
            <% end %>
          <% end %>  
        </li>
        <li>
          <span class="inline-flex items-center rounded-md bg-white px-4 py-2 text-gray-500">Page <b class="mx-1"><%= @patients.current_page %></b> of <b class="ml-1"><%= @patients.total_pages %></b></span>
        </li>
        <li>
          <%= link_to_next_page @patients, 'Next Page', class: "inline-flex items-center space-x-2 rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-500 hover:bg-gray-50" do %>
            <% if path_to_next_page @patients %>
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <% content_for :title, "Patients" %>
  
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Patients</h1>
    <%= link_to "New patient", new_patient_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="patients" class="min-w-full">
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Id</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Surname</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">First name</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Birthdate</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Gender</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">National Number</th>          
          <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <% @patients.each do |patient| %>
          <tr id="<%= dom_id patient %>">
            <%= render patient %>
            <td class="flex justify-end gap-4 px-6 py-4 font-medium">
              <%= link_to "Show", patient, class: "text-primary-700" %>
              <%= link_to "Edit", edit_patient_path(patient) %>
          </tr>  
        <% end %>
      </tbody>
    </table>
  </div>
</div>